
@import '../../../styles/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  word-wrap: break-word;
  border: 2px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom: 1.2rem;
  @include truncateTextMultiline(3);
}

p {
  font-size: 18px;
  line-height: 25px;
  @include truncateTextMultiline(3);
  margin-bottom: 1.2rem;
}

.iconContainer {
  flex-shrink: 0;
  margin-top: 0.3rem;

  > svg:not(:first-child) {
    margin-left: 1rem;
  }
}

.closeSvg {
  width: 1.2rem;
}

.pullSvg {
  width: 1rem;
}

.body {
  flex-grow: 1;
}

.labelsContainer {
  display: flex;
  align-items: flex-start;
}

.label {
  margin-right: 0.8rem;

  &:last-child {
    margin-right: 0;
  }
}
